<!DOCTYPE html>
<html lang="eng">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../static/js/visuals.js"></script>
    <title>Audio clip classifier</title>
</head>
<body>
<div style="text-align: center">
    <h1>Audio clip classifier</h1>
    <form id="data" action="http://localhost:5000/audio" method="POST" enctype="multipart/form-data"
          style="padding:20px">
        <div>
            <input type="file" name="file" required/>
        </div>
        <span style="font-size: 8pt; color: grey">Allowed extensions: {{ extensions }}</span><br><br>
        <div>
            <label>Clip length (s)</label>
            <label>
                <input type="number" name="length" value="15" required/>
            </label>
        </div>
        <br>
        <input type="submit"/><br>
    </form>
    <div id="result"></div>

</div>

</body>
</html>
