<!DOCTYPE html>
<html lang="en">
<body>
<span style="color:green">File saved</span>
<div style="padding: 20px">
    <h2>Edited file</h2>
    <a href="http://localhost:5000/{{ edited }}">{{ edited }}</a><br>
    <img src="{{ edited_spectrograph }}" style="max-width: 100%" alt="">
</div>
<div style="padding: 20px">
    <h2>Original file</h2>
    <a href="http://localhost:5000/{{ original }}">{{ original }}</a><br>
    <img src="{{ original_spectrograph }}" style="max-width: 100%" alt="">
</div>
</body>
</html>